<div class="row">
  <div class="col-md-8 col-lg-6 mx-auto">
    <div class="card">
      <div class="card-body">
        <div class="h1 text-center pb-4 pt-3">
          <span class="text-primary"><i class="fa fa-lock"></i> Client Panel</span> Register
        </div>
        <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
          <div class="form-group">
            <label for="email">Email</label>
            <input class="form-control" type="text" name="email" required [(ngModel)]="email">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input class="form-control" type="password" name="password" required minlength="6" [(ngModel)]="password">
          </div>
          <input [disabled]="!registerForm.form.valid" type="submit" value="Register" class="btn btn-block btn-primary">
        </form>
      </div>
    </div>
  </div>
</div>